.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(187, 185, 185);
  flex-grow: 1;
}
.box_flex {
  display: flex;
  justify-content: start;
}
.box_flex_center {
  justify-content: center;
  align-items: center;
}
.box_flex_changer {
  margin-right: 0 30px;
}
.box {
  margin-bottom: 15px;
  width: 150px;
}
.box_changer {
  margin-right: 30px;
  width: 150px;
  margin-bottom: 15px;
}
.header {
  font-weight: bold;
  font-size: 17px;
}
.text {
  font-size: 17px;
  margin-top: 5px;
}
.photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.headerPhoto {
  margin-left: 4px;
}
.button {
  background-color: #6aaff4;
  border-radius: 12px;
  border: none;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(96, 184, 251, 0.2);
  -moz-box-shadow: 0px 0px 24px 0px rgba(96, 184, 251, 0.2);
  box-shadow: 0px 0px 24px 0px rgba(96, 184, 251, 0.2);
  font-weight: 600;
  cursor: pointer;
  padding: 5px 10px;
}
.box_center {
  display: flex;
  justify-content: center;
  margin-right: 13%;
}
.container__position_center {
  display: flex;
  justify-content: center;
}
.content {
  padding: 20px 0;
  border-radius: 10%;
  background-color: white;
  padding-left: 30px;
}
